body{
    background-color: $primary;
    background-image: url(../images/bg-pattern-top.svg), url(../images/bg-pattern-bottom.svg);
    background-position: bottom 40vh right 40vw, top 40vh left 40vw;
    background-repeat: no-repeat; 
}

@media(min-width: 1000px){
    body{
        background-position: bottom 35vh right 45vw, top 50vh left 50vw;
    }
}

main{
    height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}