body{
    background-color: $primary;
    background-image: url(../images/bg-pattern-bottom.svg), url(../images/bg-pattern-top.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: -45% -90%, 150% 190%;
}

@media(min-width: 1000px){
    body{
        background-position: 150% -80%,-40% 160%; 
    }
}

main{
    height: 98vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}