.profile-card{
    width: 90%;
    max-width: 420px;
    background-color: $white;
    border-radius: 20px;
    box-shadow: 18px 39px 39px -16px rgba(0,0,0,0.21);
    -webkit-box-shadow: 18px 39px 39px -16px rgba(0,0,0,0.21);
    -moz-box-shadow: 18px 39px 39px -16px rgba(0,0,0,0.21);

    &__grid{
        display: grid;
        grid-template-columns: repeat(8, 0.5fr);
        grid-template-rows: repeat(4, 3.5rem);
    }

    &__header{
        background-color: $primary;
        background-image: url(../images/bg-pattern-card.svg);
        background-repeat: round;
        border-top-left-radius: 18px;
        border-top-right-radius: 18px;
        grid-column: 1/-1;
        grid-row: 1/4;
    }

    &__content{
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }

    &__img{
        width: 100px;
        border-radius: 50%;
        outline: 5px solid $white;
        z-index: 10;
        grid-column: 4/6;
        grid-row: 3/5;
    }
}

.info{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;        

    &__location{
        margin-top: 0;
        margin-bottom: 1.5rem;
    }

    &__name{
        margin-bottom: 0.25rem;
        margin-top: 1.5rem;
    }
}

.stats{
    display: flex;
    justify-content: space-around;
    padding: 2rem 1rem;
    border-top: 1.65px solid $light-gray;

    &__group{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__number,
    &__text {
        margin: 0;
    }
}