body {
    font-family: $font-main;
    line-height: 1.6;
}


.stats__number {
    font-weight: 700;
    font-size: $size5;
    color: $secondary;
}

.stats__text{
    font-size: $size7;
    letter-spacing: 0.15em;
    color: $dark-gray;
}